/*
 * Demo only style
 */

@import url(http://fonts.googleapis.com/css?family=PT+Sans);


h1, h2, h3, h4{
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}
h1 {
	font-size: 36px;
}
h2 {
	margin-bottom: 5px;
}
ul, ol {
	margin: 0;
	padding: 0;
}
ul {
	font-size: 16px;
	margin: 0px;
	padding-left: 25px;
	list-style-type: square;
}
a {
	color: #428bca;
	text-decoration: none;
}
a:hover, a:focus {
	color: #2a6496;
	text-decoration: underline;
}
.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}

.icon-edit {
	height: 16px;
	width: 16px;
	display: inline-block;
	background: url('../img/icon-edit.png');
	opacity: 0.5;
}
div:hover > .icon-edit {
	opacity: 1;
}

}
.main {
	margin-top: 20px;
}
.box {
	margin: 0 auto;
	background: #fff;
	border: 1px solid #D8D8D8;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
}

.content {
	padding: 1em;
}
.title {
	margin: 0px;
	color: #0976a5;
	font-size: 32px;
}
.title span {
	color: #4e4646;
}
.subtitle {
	margin-top: 5px;
}

.avatar-container {
	float: left;
}
#avatar {
	width: 100px;
	margin-left: 15px;
}
.edit-avatar {
	float: right;
	margin: -1px 0 0 -38px;
	position: relative;
	padding: 4px 6px !important;
}
.edit-header {
	float: right;
	padding: 7px 9px !important;
	margin: -1px;
}
.edit-bg {
	float: right;
}
ul li.active > a {
	text-decoration: underline;
	color: #205079;
}